.navbar{
    background-color: #FEB2B4;
}
.heading h1{
    
    text-align: center;
    padding-bottom: 2px;
    display: block;
    text-transform: uppercase;
    text-decoration: underline;
    color: #FEB2B4;
}
.products{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}