body{
    background: #f4f4f4;
}
a{
    text-decoration: none;
    color: white;

}
a:hover{
    text-decoration: none;
    color: white;
}

.showcase{
    height: 93vh;
    background: url('images/showcase.jpg') center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    padding-left: 2rem;
   
}
.navbar{
    background-color: #FEB2B4;
}
.showcase-text{
   width: 50%;
}

.btn-shop{
    padding: 10px 25px;
    background-color: #ee6e73;
    color: white;
    border-radius: 20px;
    outline: none;
    border: none;
}
.btn-shop:hover{
    background-color: #dd4d52;

}
#shipping{
    background-color:#001524;
   
}
.shipping-elements{
    background-color: #1C2F3C;
    color: #ffffff;
    
   
}

.best-selling-text{
    text-align: center;
}
.products{    
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px, 1fr));
    /* grid-gap: 15px; */
}
.featured-products{
    background-color:  #F8F6F3; 
    text-align: center;
   
}
.product{

    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    
   
}
.trending{
    height: 30vh;
    background-color: #001524;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.reviews-section{
    text-align: center;
   
}
/* Footer */

.footer{
   background-color: #d66a6a;
   color: #fff;
   margin-top: 20px;
   padding: 40px 0;
}

.logo-section{
    display: flex;
    flex-direction: column;
   text-align: center;
    align-items: center;
}



.footer-links{
    display: flex;
    justify-content: space-between;
}


.quick-links ul, .site-links ul{
    list-style: none;
    padding: 0;
    margin: 0;;
}
.quick-links ul li a, .site-links ul li a{
    color: #fff;
}
.copyright{
    text-align: center;
}
.fa-star{
    color:rgba(255, 208, 0, 0.829);
}